* {
  Margin: 0;
  Padding: 0;
  Border: 0;
  font-family: sans-serif;
}

@media only screen and (max-width: 900px) {
  .page-wrapper {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  h1 {
    padding: 10px 0px 20px;
  }

  .alert-info {
    background-color: #cbffff;
    border-style: solid;
    border-width: 2px;
    border-color: #cccccc;
    width: 100%;
    text-align: center;
    padding: 20px 0px;
  }

  nav {

    width: 100%;
  }

  ul {
    list-style: none;
  }

  li {
    background-color: #cccccc;
    text-align: center;
    padding: 20px 0px;
    margin: 10px 0px;
  }

  .header-img {
    width: 100%;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
  }

  h2 {
    padding: 10px 0px;
  }

  .sub-section {
    font-style: italic;
  }

  footer {
    width: 100%;
    margin-top: 50px;
  }
}
@media only screen and (min-width: 900px) {
  .page-wrapper {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;

  }

  .alert-info {
    display: none;
  }

  h1 {
    flex-grow: 1;
    margin: 25px 15px 0px;
  }

  nav {
    display: flex;
    align-items: flex-end;
  }

  ul {
    list-style: none;
    display: flex;

  }

  li {
    padding: 0px 15px;
  }

  .header-img {
    display: flex;
    width: 100%;
    height: auto;
  }

  img {
    width: 100%;
    margin: 25px 0px;
  }

  #main {
    /*margin-right: 10px;*/
    display: flex;
    flex-direction: column;
    flex-basis: 75%;

  }

  .sub-section {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;


  }

  h2 {
    /*width: 100%;*/

  }

}